<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Wizards">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>

        <activity android:name="com.example.Wizards.WelcomeActivity" android:theme="@style/AppTheme.NoActionBar">


            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity android:name="com.example.Wizards.QRCodeReaderActivity" android:label="@string/title_activity_qrcode_reader" android:screenOrientation="sensorPortrait" android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name="com.example.Wizards.GameActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>